body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #58E6F9;
    background: linear-gradient(to right,#791d90,red);
    color: white
}

a{
    text-decoration: none;
    border: solid 1px black;
    color: white;
    padding: 12px 48px;
    margin: 50px 0 200px 0;
}
.content{
    text-align: center;
}

.subtitle{
    margin-top: 50px;
}

.title{
    margin-top: 50px;
}